* {
    padding: 0;
    margin: 0;
}
.main-container {
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
    background-color: aquamarine;
}
.todo {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.heading {
    text-align: center;
}
.todo-input-container {
    width: 100%;
    display: flex;
    gap: .5rem;
}
.todo-input {
    width: 80%;
    padding: 1rem;
    margin: auto;
    border-radius: 10px;
}
.submit {
    padding: .5rem;
    border-radius: 10px;
    background-color: green;
    color: black;
}
.submit:hover {
    transform: translateY(-5px);
}
.todo-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 20px;
}
.list-box {
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.delete-list {
    cursor: pointer;
    color: red;
}

.clear-btn {
    background-color: red;
    padding: .5rem;
    border-radius: 10px;
    cursor: pointer;
}